@import "./variables";
@import "./coin-selector";
@import "./table";

#app {
  max-width: 980px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

.content__wrapper {
  padding: 0 20px;
}

.nav__item {
  color: $main-color;
  text-decoration: none;
}

.router-link-active  {
  text-decoration: underline; // @TODO DudnikES 
}